<div class="row">
    <div class="col-md-12 about">
        <i class="material-icons close-button" (click)="closeDialog.emit()">close</i>
        <div class="image-cropper">
            <img src="../../../assets/images/marc-img.png" alt="avatar" class="profile-pic">
        </div>
        <div class="col-md-12 small-text">
            <u><span id="founderName">
                {{ 'shared.founder' | translate }}
            </span></u>
            <br>
            <span id="founderAge">
                {{ 'aboutPage.age' | translate }}
            </span>
        </div>
        <div class="col-md-6 small-text-2">
            <span id="founderName">
                {{ 'aboutPage.about1' | translate }}
            </span>
        </div>        
        <div class="col-md-6 small-text-2">
            <span id="founderName">
                {{ 'aboutPage.about2' | translate }}
            </span>
        </div>
    </div>

    <div class="col-md-12 links">
        <div class="github">
            <img src="https://img.icons8.com/material-rounded/24/000000/github.png"/>
            <a href="https://github.com/marcmerih" class="linkurl">{{ 'shared.links.github' | translate }}</a>
        </div>
        <div class="linkedin">
            <img src="https://img.icons8.com/material/24/000000/linkedin--v1.png"/>
            <a href="https://www.linkedin.com/in/merihatasoy/" class="linkurl">{{ 'shared.links.linkedin' | translate }}</a>
        </div>
        <div class="instagram">
            <img src="https://img.icons8.com/material/24/000000/instagram-new--v1.png"/>
            <a href="https://www.instagram.com/marcmerih/" class="linkurl">{{ 'shared.links.instagram' | translate }}</a>
        </div>
        <div class="resume">
            <i class="material-icons">file_copy</i>
            <a href="../../../assets/documents/marc-atasoy-cv.pdf" class="resumeUrl" download>{{ 'shared.links.resume' | translate }}</a>
        </div>
    </div>
</div>