@import '../../../styles.scss';

.row {

    .about {
        margin: auto;
        text-align: center;

        .image-cropper {
            margin: 10% auto;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
            filter: drop-shadow(0px 2px 4.5px $black);
        }
        .profile-pic {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
    }
}