<div class="row">
    <div class="col-md-12 about">
        <div class="image-cropper">
            <img src="../../../assets/images/marc-img.png" alt="avatar" class="profile-pic">
        </div>
        <div class="col-md-12 small-text">
            <span id="founderName">
                {{ 'shared.founder' | translate }}
            </span>
            <br>
            <span id="founderAge">
                {{ 'aboutPage.age' | translate }}
            </span>
        </div>
        <div class="col-md-12 small-text-2">
            <span id="founderName">
                {{ 'aboutPage.about' | translate }}
            </span>
        </div>
    </div>
</div>