<div class="row">
    <div class="col-md-12">
        <div class="title-container">
            <span class="title">{{ 'references.title' | translate }}</span>
        </div>
        <div class="reference1">
            <span class="ref">Still under construction! Visit back soon :)</span>
            <!-- <span class="ref">{{ 'references.rijuVashishtReference' | translate }}</span>
            <br>
            <span class="refby">{{ 'references.rijuVashisht' | translate }}</span> -->
        </div>

        <div class="reference2">
            <!-- <span class="ref">{{ 'references.kannanMuthiahReference' | translate }}</span>
            <br>
            <span class="refby">{{ 'references.kannanMuthiah' | translate }}</span> -->
        </div>

        <!-- <div class="reference1">
            <span class="ref">{{ 'references.cenkSayinReference' | translate }}</span>
            <br>
            <span class="refby">{{ 'references.cenkSayin' | translate }}</span>
        </div>


        <div class="reference2">
            <span class="ref">{{ 'references.daniyalAdeelReference' | translate }}</span>
            <br>
            <span class="refby">{{ 'references.daniyalAdeel' | translate }}</span>
        </div> -->
    </div>
</div>