@import '../../../styles.scss';
.row {
    text-align: center;
    font-family: Merriweather;
    font-size: 11pt;
    width: 105%;
    height: 100%;
    display: inline-block;
    background-color: $white;

    .thin-nav {
        height: auto;
        margin: auto;
        background-color: $black;
    }

    .title {
        font-family: Merriweather;
        font-weight: 300;
        font-size: 36pt;
        margin-top: 45%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .contents {

        .description {
            margin: auto;
        }

        .projects, .designs {
            margin: auto;
            display: inline-block;
            clip-path: inset(0% 0% 0% 0%);
            width: calc(100% - 2em);

            button {
                width: 10em;
                font-family: Playfair Display;
            }
        }
    }

    .nav {
        height: 10em;
        margin-top: 23.4%;
        background-color: white;
    }

    #prj {
        text-align: right;
    }

    #des {
        text-align: left;
    }

    img {
        height: 2.5em;
        display: inline-block;
        padding: 0;
    }
}