<div class="row">    
    <div  [ngClass]="(navigationAccordionOpen) ? 'col-md-12 language-bar-open' : 'col-md-12 language-bar-closed'">
    </div>
    <div class="col-md-12 thin-nav">
        <img src='../../../assets/images/logo-white.png'>
        <i class="material-icons icon" *ngIf="!navigationAccordionOpen" (click)="toggleNavigation()">menu</i>
        <i class="material-icons icon" *ngIf="navigationAccordionOpen" (click)="toggleNavigation()">close</i>
    </div>
    <br>
    <div class="col-md-12">
        <span class="title">{{ 'landingPage.contents.sapplinkSolutions' | translate }}</span>
        <br>
        <span class="motto">{{ 'landingPage.contents.companyMotto' | translate }}</span>
    </div>
    <br>
    <div class="col-md-12 contents">
        <div class="col-md-6 description">
            <span class="col-md-12 small-text">
                {{ 'landingPage.contents.projectsDescriptionPartOne' | translate }}
                <a routerLink="/first-component" routerLinkActive="active" class="small-text">
                    {{ 'landingPage.contents.founder' | translate }}
                </a>
                {{ 'landingPage.contents.projectsDescriptionPartTwo' | translate }}
            </span>
        </div>
        <br>
        <div class="col-md-2 projects">
            <button type="button"
            id="landingPage-projectsButton" 
            [title]="projectsButtonHover"
            routerLink="/first-component"
            routerLinkActive="active">
            <i class="material-icons icon">build_circle</i>
                {{ 'landingPage.contents.buttons.projectsButton' | translate }}
            </button>
        </div>
        <div class="col-md-2 designs">
            <button type="button"
            id="landingPage-designsButton" 
            [title]="designsButtonHover"
            routerLink="/first-component"
            routerLinkActive="active">
            <i class="material-icons icon">eco</i>
                {{ 'landingPage.contents.buttons.designsButton' | translate }}
            </button>
        </div>
    </div>

    <div class="col-md-12 clients">
        <span>{{ 'landingPage.contents.clientelle' | translate }}</span>
    </div>
</div>
