<div class="row">
    <div class="col-md-12 design">
        <div class="title">
            <span>{{ 'designsPage.title' | translate }}</span>
        </div>
        <button (click)="addPost()">{{ 'designsPage.addDesign' | translate }}</button>
        <div class="cards" *ngFor="let card of cards">
            <app-card [imageURL]="'assets/images/' + card.data.cardImg"
                [cardTitle]="card.data.cardTitle"
                [cardTags]="card.data.cardTags"
            ></app-card>
        </div>
    </div>
</div>
