<div class="col-md-12">
    <h4><b>{{ 'covidmc.headline1' | translate }}</b></h4>
    <br>
    <span>{{ 'covidmc.prg1' | translate }}</span>
    <br>
    <div class="col-md-12 img">
        <img src="assets/images/covid_curve.png" class="fakenews">
    </div>
    <span class="col-md-12 figure">{{ 'covidmc.figure1' | translate }}</span>
    <br>
    <br>
    <h4><b>{{ 'covidmc.headline2' | translate }}</b></h4>
    <br>
    <span>{{ 'covidmc.prg2' | translate }}</span><br>
    <br>
    <div class="img">
        <img src="assets/images/covid_controls.png" class="density">
    </div>
    <span class="col-md-12 figure">{{ 'covidmc.figure2' | translate }}</span>
    <br>
    <br>
    <h4><b>{{ 'covidmc.headline3' | translate }}</b></h4>
    <br>
    <span>{{ 'covidmc.prg3' | translate }}</span>
    <br>
    <br>
    <div class="img">
        <img src="assets/images/covid_mc_code.png" class="structure">
    </div>
    <span class="col-md-12 figure">{{ 'covidmc.figure3' | translate }}</span>
    <br>
    <br>
    <h4><b>{{ 'covidmc.headline4' | translate }}</b></h4>
    <br>
    <span>{{ 'covidmc.prg7' | translate }}</span>
    <br>
    <br>
    <br>
</div>
<br>