.images {
  position: relative;
  top: 0;
  left: 0;

    .waves {  
        position: relative;
        top: 0;
        left: 0;
        width: 102vw;
        min-width: 860px;
        opacity: 0.08;
        z-index: 12;
    }
    .m-overlay {
        position: relative;
        margin-top: -134%;
        width: 102vw;
        min-width: 860px;
        z-index: 1000000;
    }
    .a-overlay {
        position: relative;
        margin-top: -270%;
        width: 102vw;
        min-width: 860px;
        z-index: 1000000;
    }
}

.container-first {
    height: 100vh;

    .title {
        font-family: Lato;
        font-weight: 900;
        color: rgba(17, 17, 17, 1);
        font-size: 35pt;
        display: block;
        align-items: center;
        justify-content: center;
        -webkit-user-select: none;     
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        user-select: none;
        vertical-align: middle;
        text-align: center;
        min-width: 750px;

        .image-cropper {
            width: 170px;
            height: 170px;
            overflow: hidden;
            margin-left: 21%;
            margin-top: 22.8%;
            border-radius: 50%;
          }
          
          img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
          }
    
    }
}

.container-second {
    height: 40vh;
    background-color: #fff;

    .partners {
        font-family: Lato;
        font-weight: 700;
        color: black;
        font-size: 13pt;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-user-select: none;     
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.container-third {
    height: 100vh;
    background-color: #0d181d;

    video {
        position: absolute;
        top: 0;
        left: 0px;
        float: left;
        width: 30%;
        height: 100%;
    }
}