<div class="row">
    <div class="images">
        <img src="../../../assets/wallpaper.jpeg" class="waves">
        <img src="../../../assets/m-overlay@2x.png" class="m-overlay">
        <img src="../../../assets/a-overlay@2x.png" class="a-overlay">
    </div>
    <div class="image-cropper">
        <img src="assets/marc.jpg" class="rounded"/>
    </div>
    <span #fname>merihatasoy</span>

    <div class="col-md-12 container-first">
        <div class="col-md-12 title">
            <div class="image-cropper">
                <img src="assets/marc.jpg" class="rounded"/>
            </div>
            <span #fname>merihatasoy</span>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <br>
        <div class="partners">
            <span>Technology Partners</span>
        </div>
    </div>    
    <div class="col-md-12">
        <div class="partners text-center">
            <span>Technology Partners</span>
        </div>
    </div>
</div>

