/* You can add global styles to this file, and also import other style files */

// Theme Colours
$white: #efefef;
$black: #161616;
$green_primary: #5bd126;
$green_secondary: #acf230;

// Global Styles
.header {
    font-family: Work Sans;
    font-size: 16pt;
    padding: 16px;
}

.paragraph {
    font-family: Economica;
    font-size: 12pt;
    padding: 12px;
}
