.labels {
    text-align: center;
    margin: auto;

    .title {
        font-size: 17pt;
        font-weight: bold;
        font-family: Merriweather;
    }

    .are-you-sure {
        font-size: 12pt;
        font-family: Playfair Display;

    }
}
.buttons {
    margin: auto !important;
    text-align: center;

    button {
        width: 7em;
    }
}