<form [formGroup]="formGroup">
    Post Title
    <br>
    <input type="text" name="card-title" [formControl]="cardTitle">
    <br>
    Post Tags
    <br>
    <input type="text" name="card-tags" [formControl]="cardTags">
    <br>
    Card Contents
    <br>
    <textarea type="text" name="card-content" [formControl]="cardContent"></textarea>
    <br>
    <br>
    <br>
    <input type="file" accept="image/*" name="background-img" (change)="onImgUpload($event)">
    <br>
    <button type="submit" (click)="createCard()">Submit</button>
</form> 