@import '../../../styles.scss';

.project {
    margin: auto;
    text-align: center;
    vertical-align: middle;

    .title {
        margin-right: 60px;
        margin-top: 20px;

        span {
            font-size: 30pt;
        }
    }

    button {
        width: 8em;
    }

    app-card {
        display: inline-flexbox;
        margin: auto;
    }
    span {
        font-family: Merriweather;
        font-size: 22pt;
        -webkit-font-smoothing: antialiased;
        margin: auto;
        text-align: center;
    }
}