<div class="row">
    <div class="col-md-12">  
        <div [ngClass]="(navigationAccordionStatus) ? 'col-md-12 language-bar-open' : 'col-md-12 language-bar-closed'">
        </div>
        <div class="col-md-12 thin-nav">
            <img src='../../../assets/images/logo-white.png'>
            <i class="material-icons icon" *ngIf="!navigationAccordionStatus" (click)="toggleNavigationBar()" [title]="openMenu">menu</i>
            <i class="material-icons icon" *ngIf="navigationAccordionStatus" (click)="toggleNavigationBar()" [title]="closeMenu">close</i>
        </div>
    </div>
</div>