@import '../../../styles.scss';

.card-container {
    width: 14em;
    height: 12em;
    border: 1px solid $white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0.1px $white;
    outline: 10px solid transparent;
    margin: 5% auto;
    width: 13em;
    overflow: hidden;

        img {
            display: inline;
            z-index: 0;
            height: 12em;
            width: 14em;
            -webkit-filter: blur(4px);
        }


    .card-title {
        font-family: Playfair Display;
        font-weight: 400;
        font-size: 13pt;
        line-height: 30px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-right: 10px;
        color: $white;

        a {
            color: $white;
        }
    }

    .card-tags {
        font-family: Playfair Display;
        font-size: 8pt;
        line-height: 30px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        padding: 5px;
        display: inline;
        white-space: nowrap;
        color: $white;

        .tag-holder {
            display: inline-flex;
            padding: 6px;
        
            .tag {
                background-color: $primary-green;
                border-radius: 10px;
                margin-right: 10px;
                padding: 6px;
                white-space: nowrap;
                font-weight: bold !important;
            }
        }
    }

    .card-activity {
        display: inline-flex;
        color: $white;

        div {
            margin: auto;
        }

        .likes-button, .views-button {
            font-size: 12pt;
            padding: 2px;
        }
    }
}