@import '../../../styles.scss';

.title {
    font-family: Merriweather;
    font-weight: 300;
    font-size: 30pt;
    margin-top: 100px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    animation-name: titleSmoothIn;
    animation-duration: 0.35s;
    animation-timing-function: ease-in;
    opacity: 0;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    margin-left: 40.2%;
}

.contact {
    margin-left: 38.5%;
    font-family: Playfair Display;
    font-size: 11pt;

    select {
        width: 20em;
        height: 1.8em;
        border-radius: 2px;
        border: 1px solid grey;
        box-shadow: 0px 0px 8px 0.1px $white;
    }
}