@import '../../../styles.scss';
.contacts-page {
    text-align: center;
    .title {
        font-family: Merriweather;
        font-weight: 300;
        font-size: 30pt;
        margin-top: 100px !important;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        animation-name: titleSmoothIn;
        animation-duration: 0.35s;
        animation-timing-function: ease-in;
        opacity: 0;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    
    .contact {
        font-family: Playfair Display;
        font-size: 11pt;
        animation: easeInAppear;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        opacity: 0;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        
    
        select, input {
            width: 20em;
            height: 1.8em;
            border-radius: 2px;
            border: 1px solid grey;
            box-shadow: 0px 0px 8px 0.1px $white;
            background-color: white;
        }

        .content {
            width: 20em;
            min-height: 9em;
            max-height: 12em;
        }

        button {
            width: 20em !important;
            margin-bottom: 197px !important;
        }
    }
}
